@{
    ViewData["Title"] = "Thông tin";
}
<div class="text-center">

    <h1>@ViewData["Title"]</h1>

    <p>Organic Fruit.</p>

    <p>
        1. - Có ngày cháu đã ngắm mặt trời lặn bốn mươi bốn lần…

        Một lát sau, cháu nói thêm:

        - Chú biết không… Khi người ta buồn bã, người ta thường thích cảnh mặt trời lặn…

        - Cái ngày bốn mươi bốn lần đó, chắc là cháu buồn lắm? Nhưng hoàng tử bé không trả lời.
    </p>
    <p>
        2. Rồi đây, ban đêm, khi ông nhìn trời, bởi vì ở một trong những ngôi sao đó có tôi, bởi vì trong một ngôi sao đó tôi cười, nên ông sẽ tưởng chừng như tất cả các ngôi sao khác đều cười. Ông sẽ có được những ngôi sao biết cười! Và khi ông nguôi rồi (bao giờ người ta chẳng nguôi đi), ông sẽ bằng lòng đã từng quen biết tôi. Ông mãi mãi là bạn thân của tôi. Rồi đôi khi, ông mở cửa sổ nhà ông, tự nhiên thích mở…thế thôi…Các bạn hữu của ông sẽ cảm thấy làm lạ, thấy ông vừa nhìn trời vừa cười. Ông sẽ bảo họ: “Phải, các ngôi sao, chúng lúc nào cũng làm cho mình cười”
    </p>
    <p>
        3. Họ chui vào những chuyến tàu nhanh, nhưng họ chẳng biết mình tìm kiếm cái gì. Thế mà họ cứ cuống quýt lên, quay cuồng lên.
    </p>
    <p>
        4. Điều khiến sa mạc trở nên đẹp đẽ, là bạn không biết nó ẩn giấu hồ nước mùa xuân ở nơi nào.
    </p>
    <p>
        5. Khi một người yêu đóa hoa, hoa ấy chỉ có một đóa thôi, trong hàng triệu hàng triệu ngôi sao, chừng ấy đủ làm cho anh sung sướng khi nhìn những ngôi sao. Anh ta nghĩ thầm: “Đóa hoa của mình nó ở đâu đây….” Nhưng mà khi cừu ăn hoa, thì anh ta sẽ cảm thấy mọi ngôi sao đều bỗng nhiên tắt! Và chuyện đó không quan trọng sao?
    </p>
    <p>
        6. - Anh làm gì vậy?
        - Ta uống rượu.
        - Tại sao anh uống rượu?
        - Uống để quên.
        - Quên cái gì?
        - Quên nỗi xấu hổ của ta.
        - Xấu hổ vì cái gì?
        - Xấu hổ vì uống rượu.
    </p>
    <p>
        7. Loài người bây giờ không còn đủ thì giờ để hiểu cái gì hết. Họ mua các vật làm sẵn ở các con buôn. Nhưng vì không ở đâu người ta bày bán bạn hữu, nên loài người không có bạn.
    </p>
    <p>
        8. Các cô đẹp nhưng các cô trống rỗng. Chẳng ai có thể chết vì các cô được cả. Cái bông hồng của tôi ấy, những người qua đường tầm thường có thể nhầm tưởng nó giống các cô. Nhưng chỉ một mình nó thôi, đối với tôi, nó cũng quan trọng hơn tất cả các cô. Bởi vì chính nó, tôi đã đặt dưới bầu kính. Bởi vì chính nó, tôi nghe khoe khoang, thở than, đôi khi cả nín thinh nữa. Bởi vì chính trên thân nó, tôi đã diệt các con sâu. Bởi vì nó là bông hoa hồng của tôi.
    </p>
    <p>
        9. Người ta chỉ có thể nhìn thấy rõ ràng bằng trái tim của mình. Cái chủ yếu thì mắt chẳng thể thấy.
    </p>
    <p>
        10. Tất cả những người lớn đều từng là trẻ con... nhưng rất ít người trong số đó nhớ về điều đó.
    </p>
    <p>
        11. Con người thường quên sự thật này, chú cáo nói: Nhưng bạn không được quên nó. Bạn sẽ chịu trách nhiệm mãi mãi cho những gì bạn đã chế ngự. Bạn phải chịu trách nhiệm cho hạnh phúc của bạn.
    </p>
    <p>
        12. Tốt thôi, tôi phải chịu đựng sự có mặt của một vài con sâu bướm nếu tôi mong muốn có thể làm quen với những con bướm xinh đẹp.
    </p>
    <p>
        13. Bạn xinh đẹp, nhưng bạn hoàn toàn trống rỗng. Sẽ không ai có thể hi sinh vì bạn.
    </p>
    <p>
        14. Bạn thấy không, người ta chỉ yêu hoàng hôn khi họ cảm thấy buồn.
    </p>
    <p>
        15. Phán xử chính bản thân mình bao giờ cũng khó hơn nhiều so với phán xử người khác.
    </p>
    <p>
        16. Chỉ có lũ trẻ con mới biết chúng tìm kiếm điều gì. Chúng dành thời gian cho một con búp bê vải, và con búp bê trở nên rất quan trọng, và nếu người ta giật búp bê của chúng đi, chúng sẽ khóc.
    </p>
    <p>
        17. Nếu bạn đã dành trọn thời gian để chăm sóc một đóa hồng, thì đóa hồng đó sẽ trở nên vô cùng quan trọng với bạn.
    </p>
    <p>
        18. Người ta chẳng bao giờ hài lòng tại nơi mình ở.
    </p>
    <p>
        19. Có một hôm em ngắm hoàng hôn những 43 lần. Bạn biết không, người ta chỉ yêu hoàng hôn khi họ cảm thấy buồn.
    </p>
    <p>
        20. Mỗi người đều có một bông hoa của riêng mình, một ngôi sao cho riêng mình, và chẳng có ai giống ai. Người cậu yêu là độc nhất, bởi cậu yêu người ấy, vậy thôi. Người ấy quan trọng vì người ấy là tình yêu của cậu.
    </p>
</div>

